<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aek56.microservice.auth.mapper.SysRoleMapper">

    <sql id="selectColumns">
        SELECT
            a.id,
            a.name,
            a.code,
            a.enable,
            a.create_time,
            a.update_time
        FROM sys_role a
    </sql>

    <select id="findListByUserId" resultType="com.aek56.microservice.auth.entity.SysRole">
        <include refid="selectColumns"/>
        LEFT JOIN sys_role_user ur ON ur.role_id = a.id
        WHERE a.del_flag = '0'
        AND a.enable = '1'
        AND ur.user_id = #{userId}
        ORDER BY a.create_time
    </select>

    <!-- 根据编号获得角色 -->
    <select id="get" resultType="com.aek56.microservice.auth.entity.SysRole">
        <include refid="selectColumns"/>
        WHERE a.id = #{id}
    </select>

    <!-- 分页查询角色信息 -->
    <select id="findList" resultType="com.aek56.microservice.auth.entity.SysRole">
        <include refid="selectColumns"/>
        WHERE a.del_flag = '0'
        <if test="name != null and name != ''">
            AND a.name like CONCAT('%', #{name}, '%')
        </if>
        <if test="remarks != null and remarks != ''">
            AND a.remarks like CONCAT('%', #{remarks}, '%')
        </if>
        ORDER BY a.create_date
    </select>

    <!-- 查询全部角色 -->
    <select id="findAllList" resultType="com.aek56.microservice.auth.entity.SysRole">
        <include refid="selectColumns"/>
        WHERE a.del_flag = '0'
        ORDER BY a.create_date
    </select>


	<select id="isOrgAdmin" resultType="boolean">
		SELECT count(sr.id) FROM `sys_role_user` ru,sys_role sr
		where ru.role_id=sr.id and sr.tenant_id=#{tenantId} and ru.user_id = #{userId} and sr.name='机构管理员'
		and ru.`enable` = true and sr.del_flag = false and sr.`enable` = true
	</select>

	<select id="isSubOrg" resultType="boolean">
		select * from sys_tenant where parent_id = #{parentTenantId} and id = #{subTenantId} and `enable` = true and del_flag = false
	</select>
	
	<select id="getOrgModule" resultType="java.util.Map">
		select name,version_number,url from sys_tenant_module where tenant_id = #{tenantId} and `enable` = true and del_flag = false
	</select>
	
	<select id="getOrgModuleByRole" resultType="java.util.Map">
		select DISTINCT sm.`name`,sm.url,sm.id
		from sys_role_user ru, sys_role_permission rp, sys_module sm
		where ru.role_id = rp.role_id and rp.module_id = sm.id
		and ru.user_id = #{userId} and ru.tenant_id = #{tenantId}
		and ru.`enable` = true and rp.del_flag = false and rp.`enable` = true and sm.del_flag = false and sm.`enable` = true
		ORDER BY sm.id asc
	</select>
	
</mapper>