<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aek56.microservice.auth.mapper.SysUserMapper">


	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.aek56.microservice.auth.entity.SysUser">
		<id column="id" property="id" />
		<result column="tenant_id" property="tenantId" />
		<result column="tenant_name" property="tenantName" />
		<result column="real_name" property="realName" />
		<result column="password" property="password" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="dept_id" property="deptId" />
		<result column="dept_name" property="deptName" />
		<result column="parent_dept_ids" property="parentDeptIds" />
		<result column="admin_flag" property="adminFlag" />
		<result column="registration_ip" property="registrationIp" />
		<result column="enable" property="enable" />
		<result column="last_login_ip" property="lastLoginIp" />
		<result column="last_login_time" property="lastLoginTime" />
		<result column="last_client_type" property="lastClientType" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, tenant_id, tenant_name, real_name, password, mobile, email, dept_id,
        dept_name, parent_dept_ids, admin_flag, registration_ip,enable,
        last_login_ip, last_login_time, last_client_type AS lastClientType
    </sql>

    <!-- 根据登录名查询用户 -->
    <select id="getByLoginName" resultMap="BaseResultMap">
    	select 
        <include refid="Base_Column_List"/>
        from sys_user
        WHERE (mobile = #{loginName} or email=#{loginName}) and enable = true and del_flag = false
    </select>

    <select id="get" resultMap="BaseResultMap">
    	select 
        <include refid="Base_Column_List"/>
        from sys_user
        WHERE id=#{id} and enable = true and del_flag = false
    </select>

</mapper>